@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


.font-inter{
    font-family: "Inter", sans-serif;
    font-style: normal;
}
.font-geist{
    font-family: "Geist", sans-serif;
    font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
}